.project {
    .panel-title {
        margin-bottom: 0px;
        margin-top: 2.5rem;
        font: {
            size: 1.2rem;
            weight: 700;
        }
    }
    .project-panel {
        border: 1px solid gray;
        border-radius: 0.5rem;
        padding: 1rem 2rem 1rem 2rem;
        box-shadow: 2px 2px 2px 0px rgba(#000000,0.5);
    }
    .project-detail {
        .project-name {
            text-align: center;
            font-weight: 700;
        }
        .project-condition {
            margin-bottom: 2.5rem;
            div {
                width: 33.33%;
                text-align: center;
                float:left;
                font-size: 1.2rem;
                opacity: 0.7;
                line-height: 1rem;
            }
        }
        .project-thumbnail {
            text-align: center;
            margin-bottom: 3rem;
            img {
                width: 75%;
                box-shadow: 10px 10px 8px #888888;
            }
        }
        .project-upvote {
            // text-align: center;
            position: relative;
            button {
                border-radius: 1rem;
                color : $white;
                margin: auto;
                position: absolute;
                top: 0;
                left: calc(50% - 5.5rem);
                font-weight: 500;
                i {
                    font-size: 1.2rem;
                    font-weight: 900;
                }
            }
        }
    }

    .project-avatar {
        .photo {
            text-align: center;
        }
        .detail {
            margin: 1rem;
            p {
                text-align: center;
            }

            .photo-label{
                text-align: right;
            }
        }
    }


    .project-rate {
        p {
            margin-bottom: 0px;
            text-align: center;
            font-size: 0.75rem;
            font-weight: 800;
            line-height: 0.8rem;
        }
        .one-col {
            background-color: #f6f6f6;
            border: 1px solid gray;
            border-radius: 0.5rem;
            padding: 0rem;
            line-height: 1rem;
            text-align: center;
            margin: 0.25rem;
            .dv-star-rating {
                .dv-star-rating-star {
                    i {
                        font-size: 1.3rem;
                        padding: .05rem;
                    }
                }
            }
        }
    }
    .project-team {
        p {
            margin-bottom: 0px;
            color: #afafaf;
            font-size: 1.2vw;
        }
        .team-member-button {
            margin-top: 0.5rem;
            button {
                width: 80%;
            }
            // background-color: #f4f4f4;
        }
    }
    .project-discussion {
        border: 1px solid gray;
        border-radius: 0.5rem 0.5rem 0  0  ;
        padding: 1rem 1.5rem 1rem 1.5rem;
        box-shadow: 2px 0px 0px 0px rgba(#000000, 0.5);
            background-color: #e8e8e8;
    }

    .project-discussion-body {
        padding-top: 2rem;
        border-radius: 0 0 0.5rem 0.5rem;
        box-shadow: 2px 0px 0px 0px rgba(#000000, 0.5);
        border: 1px solid gray;
        background-color: white;
        .container {
            padding-left: 10vw;
            padding-right: 10vw;
            padding-bottom: 3vw;
            .row {
                margin-top: 1.5vw;
                .discussion-button {
                    .action {
                        button {
                            margin-left: 0.2rem;
                        }
                    }
                    .vote-count {
                        margin-top: 0.5rem;
                        button {
                            background-color: #faf4ec;
                            color: black;
                            margin-left: 0.2rem;
                            border-radius: 0px;
                            border-color: #faf4ec;
                        }
                    }
                }

                .discussion-content {
                    padding: 1rem;
                    background-color: #f2f2f2;
                }
            }
        }
    }
}