.project {

    // font-family: "Songwriter Draft";

    font-family: 'Roboto', sans-serif;
    .panel-title {
        margin-bottom: 0.5vw;
        margin-top: 3vw;
        font: {
            size: 1.5vw;
            weight: 700;
        }
        .edit-proposal {
            margin-left: 3vw;
        }
    }
    .project-panel {
        border: 1px solid gray;
        border-radius: 1vw;
        padding: 1vw 2vw 1vw 2vw;
        box-shadow: 2px 2px 2px 0px rgba(#000000,0.5);
    }
    .project-detail {
        position: relative;
        height: 32vw;
        .project-name {
            text-align: center;
            font-size: 2.5vw;
            font-weight: 700;    
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        .project-condition {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-top: 1vw;
            div {
                width: 33.33%;
                text-align: center;
                float: left;
                font-size: 1.4vw;
                opacity: 0.7;
                line-height: 1.5;
            }
        }
        .project-thumbnail {
            position: absolute;
            height: 20vw;
            width: 20vw;
            top: 8vw;
            left : calc(50% - 9.5vw);
            img {
                width: 100%;
                height: 100%;
                box-shadow: 10px 10px 8px #888888;
            }
        }
        .project-upvote {
            button {
                border-radius: 1vw;
                color: #FFFFFF;
                margin: auto;
                position: absolute;
                bottom: -1.5vw;
                width: 20vw;
                font-size: 1.2vw;
                left: calc(50% - 9.5vw);
                font-weight: 500;
                i {
                    font-size: 1.2vw;
                    font-weight: 900;
                }
            }
        }
    }

    .project-avatar {
        position: relative;
        height: 32vw;
        .photo {
            margin: 2vw;
            text-align: center;
            img {
                height: 15vw;
                width: 15vw;
            }
        }
        .detail {
            font-size: 1.3vw;
            margin: 1vw;
            p {
                margin-bottom: 0px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                line-height: 1.8;
            }

            .photo-label{
                text-align: right;
            }
        }
    }


    .project-rate {
        padding-bottom: 0 !important;
        .one-col {
            margin-bottom: 1vw;
            background-color: #f6f6f6;
            border: 1px solid gray;
            border-radius: 0.5vw;
            padding: 0rem;
            line-height: 1.3vw;
            text-align: center;
            p {
                margin-top: 0.3vw;
                margin-bottom: 0.3vw;
                text-align: center;
                font-size: 1vw;
                font-weight: 800;
                line-height: 1.2vw;
            }
            .star-section {
                margin-top: 0.3vw;
                margin-bottom: 0.3vw;
                text-align: center;
                font-size: 1vw;
                font-weight: 800;
                line-height: 1.2vw;
                .dv-star-rating {
                    .dv-star-rating-star {
                        i {
                            font-size: 1.9vw;
                            padding: .2vw;
                        }
                    }
                }
            }
        }
    }

    .project-description {
        p {
            font-size: 1.2vw;
        }
    }

    .project-team {
        p {
            margin-bottom: 0px;
            color: #afafaf;
            font-size: 1.2vw;
        }
        .team-member-button {
            margin-top: 1vw;
            background-color: white;
            .team-member {
                font-size: 1.8vw;
                background-color: #f4f4f4;
                .applicants {
                    background-color: white;
                    border: #888888 1px solid;
                    padding: 0.1vw;
                    float: right;
                    .applicants-count {
                        color: #888888;
                        font-size: 1.5vw;
                        line-height: 1.5vw;
                    }
                    .applicants-applicants {
                        color: #888888;
                        line-height: 0.8vw;
                        font-size: 0.8vw;
                    }
                }
            }
            .selected {
                background-color: #0d6efd;
                border: #0d6efd;
                color: white;
                width: 80%;
            }
            .no-selected {
                background-color: #f4f4f4;
                border: #f4f4f4;
                color: black;
                width: 80%;
            }
        }
    }
    .project-discussion {
        border: 1px solid gray;
        border-radius: 1vw 1vw 0  0  ;
        padding: 1vw 1.5vw 1vw 1.5vw;
        box-shadow: 2px 0px 0px 0px rgba(#000000, 0.5);
        background-color: #e8e8e8; 
        .project-discussion-header {
            text-align: right;
            button {
                font-size: 1.2vw;
            }
        }
    }

    .project-discussion-body {
        padding-top: 2vw;
        border-radius: 0 0 1vw 1vw;
        box-shadow: 2px 0px 0px 0px rgba(#000000, 0.5);
        border: 1px solid gray;
        background-color: white;
        .container {
            padding-left: 10vw;
            padding-right: 10vw;
            padding-bottom: 3vw;
            .row {
                margin-top: 1.5vw;
                .discussion-button {
                    .action {
                        button {
                            padding: 0;
                            padding-top: .5vw;
                            padding-bottom: .5vw;
                            width: 3vw;
                            margin-left: 0.2rem;
                            margin-bottom: 1vw;
                            i {
                                text-align: center;
                            }
                        }
                    }
                    .vote-count {
                        margin-top: 0.5rem;
                        button {
                            margin-bottom: 1vw;
                            padding: 0;
                            padding-top: .5vw;
                            padding-bottom: .5vw;
                            width: 3vw;
                            background-color: #faf4ec;
                            color: black;
                            margin-left: 0.2rem;
                            border-radius: 0px;
                            border-color: #faf4ec;
                            font-weight: 400;
                            font-size: 1rem;
                        }
                    }
                }

                .discussion-content {
                    .content {
                        padding: 1vw;
                        font-size: 1.2vw;
                        background-color: #f2f2f2;
                    }
                    .reply {
                        padding-top: 1vw;
                        background-color: white;
                        text-align: right;
                        // button {

                        // }
                    }
                }
            }
        }
    }

    .back {
        font-size: 1.2vw;
        margin-top: 1vw;
        margin-bottom: 2vw;
        a {
            color: black;
        }
    }
}
.modal {
    top: 20% !important;
    .modal-dialog {
        margin-top: 3.75rem;
    }
}
.modal-backdrop {
    background-color: transparent !important;
}
.fade:not(.show) {
    opacity: 1 !important;
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
    .project {
        .panel-title {
            margin-bottom: 1vw;
            margin-top: 6vw;
            font: {
                size: 3vw;
                weight: 700;
            }
        }
        .project-panel {
            border-radius: 2vw;
            padding: 2vw 4vw 2vw 4vw;
        }
        .project-detail {
            height: 64vw;
            .project-name {
                font-size: 5vw;
            }
            .project-condition {
                
                margin-top: 2vw;
                div {
                    font-size: 2.8vw;
                }
            }
            .project-thumbnail {
                height: 40vw;
                width: 40vw;
                top: 16vw;
                left : calc(50% - 19vw);
            }
            .project-upvote {
                button {
                    border-radius: 2vw;
                    bottom: -3vw;
                    width: 40vw;
                    font-size: 2.4vw;
                    left: calc(50% - 19vw);
                    i {
                        font-size: 2.4vw;
                    }
                }
            }
        }
    
        .project-avatar {
            height: 64vw;
            .photo {
                margin: 4vw;
                img {
                    height: 30vw;
                    width: 30vw;
                }
            }
            .detail {
                font-size: 2.6vw;
                margin: 2vw;
            }
        }
    
    
        .project-rate {
            .one-col {
                margin-bottom: 2vw;
                border-radius: 1vw;
                line-height: 2.6vw;            
                p {
                    margin-top: 0.6vw;
                    margin-bottom: 0.6vw;
                    font-size: 2vw;
                    line-height: 2.4vw;
                }
                .star-section {
                    margin-top: 0.6vw;
                    margin-bottom: 0.6vw;
                    font-size: 2vw;
                    line-height: 2.4vw;
                    .dv-star-rating {
                        .dv-star-rating-star {
                            i {
                                font-size: 3.4vw;
                                padding: .4vw;
                            }
                        }
                    }
                }
            }
        }
    
        .project-description {
            p {
                font-size: 2.4vw;
            }
        }
    
        .project-team {
            p {
                font-size: 2.4vw;
            }
            .team-member-button {
                margin-top: 1vw;
                background-color: white;
                .team-member {
                    font-size: 3.6vw;
                    background-color: #f4f4f4;
                    .applicants {
                        background-color: white;
                        border: #888888 1px solid;
                        padding: 0.2vw;
                        float: right;
                        .applicants-count {
                            color: #888888;
                            font-size: 3vw;
                            line-height: 3vw;
                        }
                        .applicants-applicants {
                            color: #888888;
                            line-height: 1.6vw;
                            font-size: 1.6vw;
                        }
                    }
                }
                .selected {
                    background-color: #0d6efd;
                    border: #0d6efd;
                    color: white;
                    width: 80%;
                }
                .no-selected {
                    background-color: #f4f4f4;
                    border: #f4f4f4;
                    color: black;
                    width: 80%;
                }
            }
        }
        .project-discussion {
            border-radius: 2vw 2vw 0  0  ;
            padding: 2vw 3vw 2vw 3vw;
            .project-discussion-header {
                button {
                    font-size: 2.4vw;
                }
            }
        }
    
        .project-discussion-body {
            padding-top: 4vw;
            border-radius: 0 0 2vw 2vw;
            .container {
                padding-left: 10vw;
                padding-right: 10vw;
                padding-bottom: 6vw;
                .row {
                    margin-top: 3vw;
                    .discussion-button {
                        .action {
                            button {
                                padding-top: 1vw;
                                padding-bottom: 1vw;
                                width: 6vw;
                                margin-left: 0.4vw;
                            }
                        }
                        .vote-count {
                            margin-top: 1vw;
                            button {
                                padding-top: 1vw;
                                padding-bottom: 1vw;
                                width: 6vw;
                                margin-left: 0.4vw;
                                font-size: 2vw;
                            }
                        }
                    }
    
                    .discussion-content {
                        .content {
                            padding: 2vw;
                            font-size: 2.4vw;
                        }
                        .reply {
                            button {
                                font-size: 2.4vw;
                                padding: 1vw 1vw;
                            }
                        }
                    }
                }
            }
        }
    
        .back {
            font-size: 2.4vw;
            margin-top: 2vw;
            margin-bottom: 4vw;
        }
    }
}

@media only screen and (max-width: 767px) {
    .project {
        .panel-title {
            margin-bottom: 1vw;
            margin-top: 6vw;
            font: {
                size: 3vw;
                weight: 700;
            }
            .edit-proposal {
                font-size: 2.4vw;
                padding: 1vw 1vw;
            }
        }
        .project-panel {
            border-radius: 2vw;
            padding: 2vw 4vw 2vw 4vw;
        }
        .project-detail {
            height: 64vw;
            .project-name {
                font-size: 5vw;
            }
            .project-condition {
                
                margin-top: 2vw;
                div {
                    font-size: 2.8vw;
                }
            }
            .project-thumbnail {
                height: 40vw;
                width: 40vw;
                top: 16vw;
                left : calc(50% - 19vw);
            }
            .project-upvote {
                button {
                    border-radius: 2vw;
                    bottom: -3vw;
                    width: 40vw;
                    font-size: 2.4vw;
                    left: calc(50% - 19vw);
                    i {
                        font-size: 2.4vw;
                    }
                }
            }
        }
    
        .project-avatar {
            height: 64vw;
            .photo {
                margin: 4vw;
                img {
                    height: 30vw;
                    width: 30vw;
                }
            }
            .detail {
                font-size: 2.6vw;
                margin: 2vw;
            }
        }
    
    
        .project-rate {
            .one-col {
                margin-bottom: 2vw;
                border-radius: 1vw;
                line-height: 2.6vw;
                p {
                    margin-top: 0.6vw;
                    margin-bottom: 0.6vw;
                    font-size: 2.5vw;
                    line-height: 2.4vw;
                }
                .star-section {
                    margin-top: 0.6vw;
                    margin-bottom: 0.6vw;
                    font-size: 2.5vw;
                    line-height: 2.4vw;
                    .dv-star-rating {
                        .dv-star-rating-star {
                            i {
                                font-size: 4.2vw;
                                padding: 1vw;
                            }
                        }
                    }
                }
            }
        }
    
        .project-description {
            p {
                font-size: 2.4vw;
            }
        }
    
        .project-team {
            p {
                font-size: 2.4vw;
            }

            .team-member-button {
                margin-top: 2vw;
                background-color: white;
                .team-member {
                    font-size: 3.6vw;
                    background-color: #f4f4f4;
                    .applicants {
                        background-color: white;
                        border: #888888 1px solid;
                        padding: 0.2vw;
                        float: right;
                        .applicants-count {
                            color: #888888;
                            font-size: 3vw;
                            line-height: 3vw;
                        }
                        .applicants-applicants {
                            color: #888888;
                            line-height: 1.6vw;
                            font-size: 1.6vw;
                        }
                    }
                }
                .selected {
                    background-color: #0d6efd;
                    border: #0d6efd;
                    color: white;
                    width: 80%;
                }
                .no-selected {
                    background-color: #f4f4f4;
                    border: #f4f4f4;
                    color: black;
                    width: 80%;
                }
            }
        }
        .project-discussion {
            border-radius: 2vw 2vw 0  0  ;
            padding: 2vw 3vw 2vw 3vw;
            .project-discussion-header {
                button {
                    font-size: 2.4vw;
                }
            }
        }
    
        .project-discussion-body {
            padding-top: 4vw;
            border-radius: 0 0 2vw 2vw;
            .container {
                padding-left: 10vw;
                padding-right: 10vw;
                padding-bottom: 6vw;
                .row {
                    margin-top: 3vw;
                    .discussion-button {
                        .action {
                            button {
                                font-size: 2.4vw;
                                padding-top: 1vw;
                                padding-bottom: 1vw;
                                width: 6vw;
                                margin-left: 0.4vw;
                            }
                        }
                        .vote-count {
                            margin-top: 1vw;
                            button {
                                font-size: 2.4vw !important;
                                padding-top: 1vw;
                                padding-bottom: 1vw;
                                width: 6vw;
                                margin-left: 0.4vw;
                                font-size: 2vw;
                            }
                        }
                    }
    
                    .discussion-content {
                        .content {
                            padding: 2vw;
                            font-size: 2.4vw;
                        }
                        .reply {
                            button {
                                font-size: 2.4vw;
                                padding: 1vw 1vw;
                            }
                        }
                        // div {
                        //     padding: 2vw;
                        //     font-size: 2.4vw;
                        // }
                    }
                }
            }
        }
    
        .back {
            font-size: 2.4vw;
            margin-top: 2vw;
            margin-bottom: 4vw;
        }
    }
}

.modal-footer {
    border-top: 0px !important;
}

.block-ui-message {
    font-size: 2rem;
    .loading-bullet {
        color: #77d4ef
    }
}
.block-ui-container {
    cursor: default !important;
}