$asset-base-path: './assets';
$content-background-color: #f2f2f2;
$light-button-hover: #8b8b8b;

$white: #FFFFFF;
$black: #000000;


.padding-bottom-70 {
    padding-bottom: 70px;
}

a {
    color: $black;
    text-decoration: none !important;
}

// @font-face {
//     font-family: "Songwriter Draft";
//     src: local("Songwriter Draft"), url('./assets/fonts/SongwriterDraft-Regular.6bd4a9c8.otf');
// }

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import "./assets/stylesheet/header.scss";
@import "./assets/stylesheet/avatar.scss";
@import "./assets/stylesheet/content.scss";
@import "./assets/stylesheet/proposal.scss";
@import "./assets/stylesheet/home.scss";
@import "./assets/stylesheet/project.scss";
@import "./assets/stylesheet/profile";
